* {
    border-radius: 3px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: rgb(28, 80, 80);
}

.title {
    padding: 7px;
    background-color: azure;
    margin-bottom: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    margin-bottom: 12px;
    border: 1px solid white;
}

button {
    margin: 7px;
}