* {
    margin: 1px;
    padding: 1PX; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: aquamarine;
}